# os
*~
.DS_Store
.svn
.cvs
*.bak
*.swp
Thumbs.db

# node
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
node_modules/

# composer
vendor/

# wordpress
/uploads/
/mu-plugins/*
/plugins/*
!/plugins/wds-project-plugin

# theme
/themes/*
!/themes/blankslate
!/themes/blankslate-2
!/themes/genesis-block-theme
