# os
*~
.DS_Store
.svn
.cvs
*.bak
*.swp
Thumbs.db

# node
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
node_modules/

# composer
vendor/

# wordpress
/uploads/
/mu-plugins/*
/plugins/*
!/plugins/acf_to_json
!/plugins/amazon-s3-and-cloudfront-pro
!/plugins/amazon-s3-and-cloudfront-pro/vendor
!/plugins/wp-graphql-acf-0.5.3
!/plugins/wp-graphql-acf-0.5.3/vendor
!/plugins/wp-graphql-acf-feature-fix-field-group-prefixing
!/plugins/wp-graphql-acf-feature-fix-field-group-prefixing/vendor
!/plugins/wp-graphql-acf-master
!/plugins/wp-graphql-acf-master/vendor
!/plugins/wp-graphql-tax-query-0.1.0
!/plugins/wp-graphql-tax-query-0.1.0/vendor

# theme
/themes/*
!/themes/blankslate
!/themes/blankslate-2
!/themes/genesis-block-theme
